//Natours

$green:       #64f74a;      //color-primary
$green-1:     #0eeb72;
$green-2:       #0a960a;
$green-yellow: greenyellow;     

$blue:        #13f0de;  
$blue-fade:   #28b485;
$blue-sky:    #2998ff;
$blue-dark:   #5643fa;

$grey:        #777;
$white:       #fff;
$grey-light:  #f7f7f7;
$grey-light-1:#9c9c9c;
$grey-dark:   #333;

$black:       #000;

$yellow-fade: #ffd900;

$orange-fade: #ff1e00;

//Grid-test

$grid-width:      114rem;
$gutter-horizontal: 6rem;
$gutter-vertical:   8rem;
$gutter-vertical-small:   6rem;


//Fonts
$defaut-font-size: 1.6rem;    