.header {
 height: 85vh;                 
  background-image: linear-gradient(to right bottom,
         rgba($green, 0.8),      
         rgba($blue,0.8)),
          url(../img/hero-small.jpg);                /*two dots for main folder */
  background-size: cover;
  background-position: top;     
  position: relative;         /* on resizing tab,browser holds top position and crops rest */
 

  @media only screen and ( min-resolution: 192dpi) and (min-width:37.5em) ,    //min-reso doesnt work on safari
          only screen and ( -webkit-min-device-pixel-ratio: 2) and (min-width:37.5em) ,  //For safari
          only screen and ( min-width: 112.5em) {        
            background-image: linear-gradient(to right bottom,  
            rgba($green, 0.8),        
            rgba($blue,0.8)),        
            url(../img/hero.jpg);             
  }

  @supports( clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);         /* shows this part */
    height: 95vh;
  }

  @include respond(phone){      //600px
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);         /* shows this part */    

    
  }
      

  /*------ & = .header ------*/

  &__logo-box{
    position: absolute;
    top:4rem;
    left:4rem;
  }
  
  &__logo{
    height: 3.5rem;
  }
  
  &__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);

    /*now for btn--> &=.header__text-box  */

    &__btn{
      text-align: center;
    }
 
   
  }

}